<div class="card">
  <div class="card-block">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th align="left">Permission</th>
            <th *ngFor="let role of roles$ | async">{{ role.role }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let permission of permissions$ | async">
            <td>{{ permission.permission }}</td>
            <td *ngFor="let role of roles$ | async">
              <clr-checkbox-wrapper>
                <input
                  type="checkbox"
                  clrCheckbox
                  [checked]="hasPermission(role, permission.id)"
                  (change)="togglePermission(role.id, permission.id)"
                />
              </clr-checkbox-wrapper>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="card-footer">
      <button
        type="button"
        class="btn btn-primary"
        (click)="onSave()"
        [disabled]="!hasChanges"
      >
        Save Changes
      </button>
      <button type="button" class="btn btn-outline" (click)="onCancel()">
        Cancel
      </button>
    </div>
  </div>
</div>
