<div class="header-area">
  <h3 class="headline">Roles Page</h3>

  <app-button [btnType]="'btn-primary'" (onClick)="onAddRole()">
    Add Role
  </app-button>
</div>

<clr-datagrid>
  <clr-dg-column class="sr-column">Sr</clr-dg-column>
  <clr-dg-column>Role</clr-dg-column>
  <clr-dg-column>Created At</clr-dg-column>
  <clr-dg-column>Updated At</clr-dg-column>
  <clr-dg-column>Actions</clr-dg-column>
  <clr-dg-placeholder>We couldn't find any roles!</clr-dg-placeholder>

  <clr-dg-row *clrDgItems="let role of roles; let i = index">
    <clr-dg-cell class="sr-column">{{ i + 1 }}</clr-dg-cell>
    <clr-dg-cell>{{ role.role }}</clr-dg-cell>
    <clr-dg-cell>{{ role.createdAt | date : "medium" }}</clr-dg-cell>
    <clr-dg-cell>{{ role.updatedAt | date : "medium" }}</clr-dg-cell>
    <clr-dg-cell>
      <cds-icon shape="pencil" (click)="onEditRole(role, $event)"></cds-icon>
      <cds-icon shape="trash" (click)="onDeleteRole(role, $event)"></cds-icon>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <app-pagination
      [totalItems]="roles.length"
      [pageSize]="pageSize"
      [currentPage]="currentPage"
      (pageChange)="onPageChange($event)"
      (pageSizeChange)="onPageSizeChange($event)"
    ></app-pagination>
  </clr-dg-footer>
</clr-datagrid>

<app-modal-form
  [(modalOpen)]="modalOpen"
  [title]="isEditMode ? 'Edit Role' : 'Create Role'"
  [form]="form"
  [submitButtonText]="isEditMode ? 'Update Role' : 'Create Role'"
  (onSubmit)="onSubmit()"
  (onCancel)="onCancel()"
>
  <app-input-container
    label="Role"
    [control]="form.controls.role"
    name="role"
    placeholder="Enter role name"
    [required]="true"
  ></app-input-container>

  <app-select-container
    label="Project"
    [control]="form.controls.project_id"
    name="project_id"
    [options]="projects"
  ></app-select-container>
</app-modal-form>
