<div class="login-body">
  <section class="title">
    <div class="welcome">VaultControl</div>
    <div class="hint">Request a passowrd reset link!</div>
  </section>
  <div class="login-group" *ngIf="!successMessage">
    <clr-input-container>
      <label class="clr-sr-only">E-mail</label>
      <input
        type="text"
        autocomplete="username"
        name="username"
        clrInput
        placeholder="Enter email"
        [(ngModel)]="email"
      />
    </clr-input-container>

    <div class="error active" *ngIf="errorMessage">
      Invalid user name or password
    </div>

    <button
      type="button"
      class="btn btn-primary"
      (click)="getResetPasswordLink()"
      [disabled]="!validateEmail(email) || (isLoading$ | async)"
    >
      Get Reset Password Link
    </button>
    <a [routerLink]="'/auth/signup'" class="signup"> Sign up for an account </a>
  </div>

  <div *ngIf="successMessage" class="success-container">
    <app-alert
      [type]="'success'"
      [message]="successMessage"
      class="my-4"
    ></app-alert>
    <a [routerLink]="'/auth/login'" class="btn btn-primary my-4">
      Go to Login
    </a>
  </div>
</div>
