<section class="title">
  <div class="welcome">VMWare</div>
  <div class="hint">Reset your password below!</div>
</section>
<form class="login-group" [formGroup]="form" (ngSubmit)="onSubmit()">
  <ng-container *ngIf="!isSuccess">
    <clr-input-container>
      <label class="clr-sr-only">E-mail</label>
      <input
        type="text"
        autocomplete="username"
        name="username"
        clrInput
        placeholder="Enter email"
        formControlName="email"
      />
    </clr-input-container>
    <clr-password-container>
      <label class="clr-sr-only">Password</label>
      <input
        type="password"
        autocomplete="current-password"
        name="password"
        clrPassword
        placeholder="Enter password"
        formControlName="password"
      />
    </clr-password-container>
    <input type="hidden" formControlName="token" />
  </ng-container>

  <ng-container *ngIf="isSuccess">
    <clr-icon shape="check-circle" class="is-success" size="48"></clr-icon>
    <p class="success-message my-4">{{ successMessage }}</p>
  </ng-container>

  <ng-container *ngIf="isError">
    <div class="error active" *ngIf="errorMessage">{{ errorMessage }}</div>
    <button
      type="button"
      class="btn btn-primary"
      (click)="resendForgotPasswordEmail()"
    >
      Resend Forgot Password Email
    </button>
  </ng-container>

  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="form.invalid || (isLoading$ | async) || resetPasswordClicked"
    *ngIf="!isError && !resendForgotPasswordClicked"
  >
    Reset Password
  </button>
  <a [routerLink]="'/auth/signup'" class="signup"> Login into your account </a>
</form>
