<div class="header-area">
  <h3 class="headline">Projects Page</h3>

  <app-button [btnType]="'btn-primary'" (onClick)="onAddProject()">
    Add Project
  </app-button>
</div>

<clr-datagrid>
  <clr-dg-column class="sr-column">Sr</clr-dg-column>
  <clr-dg-column>Name</clr-dg-column>
  <clr-dg-column>Created At</clr-dg-column>
  <clr-dg-column>Updated At</clr-dg-column>
  <clr-dg-column>Actions</clr-dg-column>
  <clr-dg-placeholder>We couldn't find any projects!</clr-dg-placeholder>

  <clr-dg-row *clrDgItems="let project of projects; let i = index">
    <clr-dg-cell class="sr-column">{{ i + 1 }}</clr-dg-cell>
    <clr-dg-cell>{{ project.name }}</clr-dg-cell>
    <clr-dg-cell>{{ project.createdAt | date : "medium" }}</clr-dg-cell>
    <clr-dg-cell>{{ project.updatedAt | date : "medium" }}</clr-dg-cell>
    <clr-dg-cell>
      <cds-icon
        shape="pencil"
        (click)="onEditProject(project, $event)"
      ></cds-icon>
      <cds-icon
        shape="trash"
        (click)="onDeleteProject(project, $event)"
      ></cds-icon>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <app-pagination
      [totalItems]="projects.length"
      [pageSize]="pageSize"
      [currentPage]="currentPage"
      (pageChange)="onPageChange($event)"
      (pageSizeChange)="onPageSizeChange($event)"
    ></app-pagination>
  </clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="modalOpen">
  <h3 class="modal-title">{{ isEditMode ? "Edit" : "Create" }} Project</h3>

  <div class="modal-body">
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      clrForm
      clrLayout="horizontal"
      clrLabelSize="2"
    >
      <clr-input-container>
        <label for="name">Name</label>
        <input
          type="text"
          autocomplete="name"
          name="name"
          clrInput
          placeholder="Enter project name"
          formControlName="name"
          class="w-100"
        />
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="onCancel()">
      Cancel
    </button>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="form.invalid"
      (click)="onSubmit()"
    >
      {{ isEditMode ? "Update" : "Create" }} Project
    </button>
  </div>
</clr-modal>
