<div class="login-wrapper">
  <div class="login">
    <div class="login-header">
      <div class="logo"></div>
      <div class="actions">
        <clr-dropdown>
          <button
            type="button"
            class="btn btn-link btn-sm"
            clrDropdownTrigger
            (click)="$event.stopPropagation()"
          >
            English
            <cds-icon shape="angle" direction="down"></cds-icon>
          </button>
          <clr-dropdown-menu>
            <div aria-label="English" clrDropdownItem>English</div>
            <div aria-label="Marathi" clrDropdownItem>Marathi</div>
          </clr-dropdown-menu>
        </clr-dropdown>
      </div>
    </div>
    <div class="login-body">
      <router-outlet></router-outlet>
    </div>
    <div class="login-footer">
      <span class="copyright">2024 Codeblaze.</span>
      <a href="javascript://">Terms</a>
      <a href="javascript://">Privacy</a>
      <a href="javascript://">California Privacy Rights</a>
    </div>
  </div>
</div>
