<section class="title">
  <div class="welcome">VMWare</div>
  <div class="hint">Email Verification</div>
</section>

<div class="login-group">
  <app-spinner
    *ngIf="isLoading$ | async"
    [medium]="true"
    [text]="'Verifying your email..'"
  ></app-spinner>

  <ng-container *ngIf="isSuccess">
    <clr-icon shape="check-circle" class="is-success" size="48"></clr-icon>
    <p class="success-message">{{ successMessage }}</p>
    <a [routerLink]="'/auth/login'" class="btn btn-primary">Go to Login</a>
  </ng-container>

  <ng-container *ngIf="isError">
    <div class="error active" *ngIf="errorMessage">{{ errorMessage }}</div>
    <button
      type="button"
      class="btn btn-primary"
      (click)="resendVerificationEmail()"
    >
      Resend Verification Email
    </button>
  </ng-container>
</div>
