<div class="header-area">
  <h3 class="headline">Permissions Page</h3>

  <app-button [btnType]="'btn-primary'" (onClick)="onAddPermission()">
    Add Permission
  </app-button>
</div>

<clr-datagrid>
  <clr-dg-column class="sr-column">Sr</clr-dg-column>
  <clr-dg-column>Permission</clr-dg-column>
  <clr-dg-column>Created At</clr-dg-column>
  <clr-dg-column>Updated At</clr-dg-column>
  <clr-dg-column>Actions</clr-dg-column>
  <clr-dg-placeholder>We couldn't find any permissions!</clr-dg-placeholder>

  <clr-dg-row *clrDgItems="let permission of permissions; let i = index">
    <clr-dg-cell class="sr-column">{{ i + 1 }}</clr-dg-cell>
    <clr-dg-cell>{{ permission.permission }}</clr-dg-cell>
    <clr-dg-cell>{{ permission.createdAt | date : "medium" }}</clr-dg-cell>
    <clr-dg-cell>{{ permission.updatedAt | date : "medium" }}</clr-dg-cell>
    <clr-dg-cell>
      <cds-icon
        shape="pencil"
        (click)="onEditPermission(permission, $event)"
      ></cds-icon>
      <cds-icon
        shape="trash"
        (click)="onDeletePermission(permission, $event)"
      ></cds-icon>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <app-pagination
      [totalItems]="permissions.length"
      [pageSize]="pageSize"
      [currentPage]="currentPage"
      (pageChange)="onPageChange($event)"
      (pageSizeChange)="onPageSizeChange($event)"
    ></app-pagination>
  </clr-dg-footer>
</clr-datagrid>

<app-modal-form
  [(modalOpen)]="modalOpen"
  [title]="isEditMode ? 'Edit Permission' : 'Create Permission'"
  [form]="form"
  [submitButtonText]="isEditMode ? 'Update Permission' : 'Create Permission'"
  (onSubmit)="onSubmit()"
  (onCancel)="onCancel()"
>
  <app-input-container
    label="Permission"
    [control]="form.controls.permission"
    name="permission"
    placeholder="Enter permission name"
    [required]="true"
  ></app-input-container>

  <app-select-container
    label="Project"
    [control]="form.controls.project_id"
    name="project_id"
    [options]="projects"
  ></app-select-container>
</app-modal-form>
