<header class="header header-6">
  <div class="branding">
    <a routerLink="/" routerLinkActive="active">
      <cds-icon shape="bolt"></cds-icon>
      <span class="title">VaultControl</span>
    </a>
  </div>
  <div class="header-actions">
    <button
      class="btn btn-link nav-link"
      (click)="toggleTheme()"
      [attr.aria-label]="
        theme === 'light' ? 'Switch to dark mode' : 'Switch to light mode'
      "
    >
      <cds-icon [attr.shape]="theme === 'light' ? 'moon' : 'sun'"></cds-icon>
      {{ theme === "light" ? "Dark" : "Light" }}
    </button>

    <clr-dropdown>
      <button class="nav-text btn-link nav-link" clrDropdownTrigger>
        <cds-icon shape="user"></cds-icon>
        {{ user?.email }}
        <cds-icon shape="angle" direction="down"></cds-icon>
      </button>
      <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
        <a clrDropdownItem (click)="logout()">Logout</a>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</header>
