<div class="header-area">
  <h3 class="headline">Manage Page - {{ projectId }}</h3>

  <app-select-container
    [control]="projectControl"
    name="project_id"
    [options]="projects"
    class="w-auto"
    [placeholder]="'Select Project'"
    (selectionChange)="onProjectChange($event)"
  ></app-select-container>
</div>

<div class="card">
  <div class="card-block" *ngIf="!(isLoading$ | async)">
    <form [formGroup]="form">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th align="left">Permission</th>
              <th *ngFor="let role of roles$ | async">{{ role.role }}</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let permission of permissions$ | async;
                let permissionIndex = index
              "
            >
              <td>{{ permission.permission }}</td>
              <td
                *ngFor="let roleForm of rolesFA.controls; let roleIndex = index"
              >
                <clr-checkbox-wrapper>
                  <input
                    type="checkbox"
                    clrCheckbox
                    [formControl]="
                      getPermissionControl(roleIndex, permissionIndex)
                    "
                  />
                </clr-checkbox-wrapper>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="card-footer pl-0">
        <button
          type="button"
          class="btn btn-primary"
          (click)="onSave()"
          [disabled]="!hasChanges"
        >
          Save Changes
        </button>
        <button
          type="button"
          class="btn btn-outline"
          (click)="onCancel()"
          [disabled]="!hasChanges"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>

  <div class="card-block" *ngIf="isLoading$ | async">
    <app-spinner
      [medium]="true"
      [text]="'Getting project permissions..'"
    ></app-spinner>
  </div>
</div>
