<div class="header-area">
  <h3 class="headline">Manage Page</h3>

  <app-select-container
    [control]="projectControl"
    name="project_id"
    [options]="projects"
    class="w-auto"
    [placeholder]="'Select Project'"
    (selectionChange)="onProjectChange($event)"
  ></app-select-container>
</div>

<div class="card" *ngIf="projectId$.value !== ''; else selectProject">
  <div class="card-block">
    <form [formGroup]="form">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th align="left">Permission</th>
              <th *ngFor="let role of rolesFA.controls">
                {{ role.get("roleName")?.value }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let permission of permissionList;
                let permissionIndex = index
              "
            >
              <td>{{ permission.permission }}</td>
              <td
                *ngFor="let roleForm of rolesFA.controls; let roleIndex = index"
              >
                <clr-checkbox-wrapper>
                  <input
                    type="checkbox"
                    clrCheckbox
                    [formControl]="
                      getPermissionControl(roleIndex, permissionIndex)
                    "
                  />
                </clr-checkbox-wrapper>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="card-footer pl-0">
        <button type="button" class="btn btn-primary" (click)="onSave()">
          Save Changes
        </button>
        <button type="button" class="btn btn-outline" (click)="onCancel()">
          Cancel
        </button>
      </div>
    </form>
  </div>

  <div class="card-block" *ngIf="isLoading$ | async">
    <app-spinner
      [medium]="true"
      [text]="'Getting project permissions..'"
    ></app-spinner>
  </div>
</div>

<ng-template #selectProject>
  <div class="card-block">
    <p class="headline">Select a project to manage permissions</p>
  </div>
</ng-template>
